body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.uk-table-justify th,
.uk-table-justify td {
  text-align: center;
  max-width: 320px;
}

.uk-table-justify th:nth-child(2) {
  width: 320px;
}

/*# sourceMappingURL=maps/main.css.map */
